.navbar {
  height: 36px;
  font-weight: bold;
  line-height: 36px;
  padding-left: 20px;
  border-bottom: 1px solid var(--vscode-panelSection-border);
}

.navbar .action-bar {
  white-space: nowrap;
  height: 100%;
}

.navbar .actions-container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: initial;
}

.action-bar .action-item {
  display: block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  height: 100%;
}

.action-bar .action-label {
  display: inline;
  height: 100%;
  cursor: pointer;
  padding: 0 10px;
  font-size: 11px;
  font-weight: normal;
  color: var(--vscode-panelTitle-inactiveForeground);
  background: none;
  border: none;
}

.navbar .action-label.checked {
  border-bottom: 1px solid var(--vscode-panelTitle-activeBorder);
  color: var(--vscode-panelTitle-activeForeground);
}

.navbar .action-label:hover {
  color: var(--vscode-panelTitle-activeForeground);
}
