:root {
  /* 默认字体有些不和谐 */
  --luogu-font: -apple-system, BlinkMacSystemFont, 'San Francisco',
    'Helvetica Neue', 'Noto Sans', 'Noto Sans CJK SC', 'Noto Sans CJK',
    'Source Han Sans', 'PingFang SC', 'Segoe UI', 'Microsoft YaHei', sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
  margin: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
}

pre {
  margin: 0.5em 0;
  padding: 0.3em 0.5em;
  border: #ddd solid 1px;
  border-radius: 3px;
  overflow: auto;
  position: relative;
  font-size: 0.875em !important;
}

.tag {
  display: inline-block;
  padding: 0 8px;
  box-sizing: border-box;
  font-weight: 700;
  border-radius: 2px;
  font-size: 12px;
  color: white;
  margin: 2px;
  line-height: 1.5;
  font-family: var(--luogu-font);
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: none;
  border-bottom: solid 1px #eee;
}

.username {
  display: inline-block;
  text-decoration: none;
}

.username-name {
  font-weight: bold;
  font-size: 13px;
  font-family: var(--luogu-font);
  line-height: 1.5;
}

.ccfsvg,
.username-name {
  margin-left: 2px;
  margin-right: 2px;
}

.usericon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 1em;
}

vscode-button[appearance='icon'] {
  margin-left: 15px;
  margin-right: 15px;
}

.copy-button {
  position: absolute;
  top: 2px;
  right: 5px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.captcha {
  width: 90px;
  height: 35px;
}

a {
  text-decoration: none;
}
